{% extends 'layout.html'%}

{% block body%}
<div class="row mt-3">
    {% for product in products.items %}

    <div class='col-md-4 mb-4'>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_for('static',filename='product_img/'+product.product_image)}}"
                alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">{{product.productname}}</h5>
                <p class="card-text">{{currencyconvert(product.price)}}</p>
                {%if product.product_stock %}
                <a href="/addtocart?product_id={{product.id}}" class="btn btn-primary">add to cart</a>
                {%else%}
                <button class="btn btn-danger">out of stock</button>

                {%endif%}
            </div>
        </div>
    </div>
    {% endfor  %}
    
</div>

<div class="text-center">
    {% for page_num in products.iter_pages(left_edge=1,right_edge =1,left_current =1,right_current =2) %}
      {%if page_num%}
      {%if products.page == page_num%}
      <a href="{{url_for('allcategories',page_number=page_num)}}" class="btn btn-info mb-4">{{page_num}}</a>
      {% else%}
      <a href="{{url_for('allcategories',page_number=page_num)}}" class="btn btn-outline-info mb-4">{{page_num}}</a>
      {%endif%}
      {%endif%}
    {%endfor%}
    </div>


{%endblock%}